<div class="row">    
  <div class="col-sm-12">
    <h3><%= post.title %></h3>
                              
    <h4>
      <%= post.description %>
    </h4>
                              
    <h4>
      <small class="text-muted"><%= l post.pub_date %> 
        <a href="<%= post.link %>" class="text-muted">Read More</a>
      </small>
    </h4>
  </div>
</div>

<div class="row divider">    
  <div class="col-sm-12"><hr></div>
</div>