<div class="row">    
  <div class="col-sm-12">
    <h3><%= post.title %></h3>
                              
    <p>
      <%= post.description %>
    </p>
                              
    <h4>
      <small class="text-muted"><%= post.pub_date.strftime('%d.%m.%Y %H:%M') %></small>
      <a href="<%= post.link %>" class="btn btn-link">Read More</a>
    </h4>
  </div>
</div>

<div class="row divider">    
  <div class="col-sm-12"><hr></div>
</div>