<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Rus Name</th>
      <th>Readers</th>
      <th>Action</th>
    </tr>
  </thead>
      
  <tbody>
    <% sources.each do |source| %>
      <tr id=<%= source.id %>>
        <%= render partial: 'posts/source', locals: {source: source} %>
      </tr>
    <% end %>
  </tbody>
</table>