<p id="notice"><%= notice %></p>

<div class="col-sm-12" id="stories">  
  <div class="page-header text-muted divider">
    Posts
  </div>
</div>

<div class="column col-sm-9" id="main">
  <div class="padding">
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Post', new_post_path %>
<%= link_to 'Download', download_posts_path %>
