<!DOCTYPE html>
<html>
  <head>
    <title>Lent</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="wrapper">
      <div class="box">
          <div class="row">
            <!-- sidebar -->
            <div class="column col-sm-3" id="sidebar">
              <!-- <a class="logo" href="#">B</a> -->
              <ul class="nav">
                <li><a href="#">Posts</a></li>
                <li><a href="#">My lent</a></li>
                <li><a href="#">Settigs</a></li>
              </ul>
              <ul class="nav hidden-xs" id="sidebar-footer">
                <li>
                  <a href="http://www.bootply.com"><h3>Basis</h3>Made with <i class="glyphicon glyphicon-heart-empty"></i> by Bootply</a>
                </li>
              </ul>
            </div>
            <!-- /sidebar -->

            <div class="column col-sm-9" id="main">
              <div class="padding">
                <div class="full col-sm-9">
                  <%= yield %>
                </div>
              </div>
            </div>        
          </div>
      </div>
    </div> 

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Подключаем Bootstrap JS -->    
  <script src="js/bootstrap.min.js"></script>     
  </body>
</html>
